# remove all pycache files
*.pyc
__pycache__/

# remove other cache files
/.conda
.DS_Store

# remove big files
cosine_sim.npy

# remove all .csv files
*.csv

# remove lda model state dict
lda_model_*
nbTopics_*

# Remove the figures
Figures/